<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">

</head>

<body>

    <div class="hang1">
        <div class="box">
            <a href="http://127.0.0.1:8000/"  class="box1" title="返回主页">返回主页</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>
        </div>
    </div>
    <div id="no1">
        <p>COVID-19</p>
    </div>
    <div id="Content">
        <p>The US, which is expediting a report on the coronavirus origins in 90 days under the order of President Joe Biden, does not care about the facts or truth, but only how to wear down and smear China, Chinese Foreign Ministry (MOFA) spokesperson
            Zhao Lijian said Wednesday.</p>
        <p>Zhao made the remarks while commenting on a query about the US's so-called "origins-tracing investigation" at a regular press briefing in Beijing.</p>
        <p>In May, Biden ordered intelligence agencies to "redouble" efforts to investigate the origins of COVID-19, including the theory that it came from a laboratory in China. He asked the agencies to bring back to him a report in 90 days.</p>
        <p>With the 90-day deadline around the corner, the US intelligence agencies have made no substantial progress in the investigation. But they still intend to release a report by the end of August as scheduled, in which they will make up misleading
            conclusions on virus-leaking from the Wuhan Institute of Virology, Global Times reported, citing anonymous informed sources.</p>
        <p>High-level officials in the US believe that "the investigation is not the purpose and that launching the investigation itself bears its meaning." By ceaselessly hyping the "origins-tracing investigation," the US aims to exhaust China's diplomatic
            resources and increase America's bargaining chip on China, the Global Times report added.</p>
        <p>In the meantime, the US has been pressuring the WHO and Director General Tedros Adhanom Ghebreyesus to launch the "second-phase origins tracing" on China as soon as possible and pushing for a third-party independent investigation outside the framework
            of the WHO with allies as it sees necessary.</p>
        <p>People's Daily asked for Zhao's comment on this. Zhao said he has noticed relative reports, and the words of senior US officials in the reports is "in itself a confession of the US manipulation for presumption with guilt." "Isn't the US's malicious
            intention of political manipulation evident enough?" he asked.</p>
        <p>He noted that in 2003, the US used a small bottle of laundry powder as evidence for Iraq's possession of weapons of mass destruction. Now the US is repeating the trick, and the world will not be fooled again.</p>
        <p>"Instead, the international community is getting more and more suspicious of the US as it is sparing no efforts to smear China by all means. Is it trying to deflect people's attention from the questionable points and spotty track records of the
            bio-labs at Fort Detrick? What is the US trying to hide?" he asked.</p>
        <p>He pointed out that the US has set up more than 200 bio-labs all over the world to conduct bio-military activities under various names, and the sites of US labs are often the locations where diseases such as plague, anthrax and Middle East Respiratory
            Syndrome break out.</p>
        <p>"According to US media reports, in 2019, the US military brought the coronavirus to Europe through its blood research project. Civilian volunteers who entered the US military base in Italy in August of that year became the earliest victims. Does
            the US side have any explanation?" Zhao asked.</p>
        <p>He reiterated that China has always supported and will continue to participate in science-based origins study. The country has received WHO experts twice, which produced scientific and authoritative conclusions and laid the foundation for the
            next-phase global origins tracing work.</p>
        <p>"What we firmly oppose is the politicization of origins tracing. No matter how hard the US tries to smear and falsely accuse others, it does not help to dispel the doubts of the international community about the US's bio-labs all over the world,"
            he said.</p>
        <p>He urges the US to invite the WHO to the country in an above-board manner to carry out origins tracing, especially at Fort Detrick and the University of North Carolina.</p>
    </div>
    <div id="no2"></div>
</body>
</html>