<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>

<div class="hang1">
        <div class="box">
            <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

        </div>



    </div>

    <div id="no1">
        <p>Bolivia defender Sagredo to miss World Cup qualifiers with COVID-19</p>
    </div>
    <div id="Content">


        <p>LA PAZ - Left-back Jesus Sagredo has been omitted from Bolivia's squad for World Cup qualifiers against Colombia, Uruguay and Argentina because of COVID-19, the Bolivian Football Federation (FBF) said on Wednesday.</p>
        <p>The 27-year-old, who plays for local club The Strongest, was diagnosed with the virus during routine tests of the Verde's 25-man squad, according to an FBF statement.</p>
        <p>It said Sagredo would self-isolate at his home under medical supervision, in line with the Bolivian government's health protocols.</p>
        <p>FBF president Fernando Costa revealed that several other members of the squad are suspected of also having contracted the virus and are awaiting the results of secondary tests.</p>
        <p>Bolivia will face Colombia in La Paz on September 2, Uruguay in Montevideo on September 5 and Argentina in Buenos Aires on September 9.</p>
        <p>The Verde are currently eighth in the 10-team South American zone standings with five points from six matches. The top four teams at the end of the qualifying tournament will earn an automatic berth at next year's World Cup in Qatar while the
            fifth-ranked side will advance to an intercontinental playoff.</p>
    </div>

    <div id="no2"></div>
</body>

</html>