<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>
<div class="hang1">
    <div class="box">
        <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>
    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

    </div>


</div>

<div id="no1">
    <p>Chinese embassy: US intel report on virus origins 'not scientifically credible'</p>
</div>
<div id="Content">

    <p>The United States intelligence community report on COVID-19 origins is "not scientifically credible", and
        Washington's assertion of lack of transparency on the part of China is only an excuse for politicizing and
        stigmatizing purpose, the Chinese
        embassy in the US said on Friday.</p>
    <p>A two-page&nbsp;summary of the report the Office of the Director of National Intelligence released on Friday does
        not rule out either natural exposure or laboratory accident as the origins of SARS-CoV-2, but it claims that
        China "continues to
        hinder the global investigation, resist sharing information and blame other countries".</p>
    <p>Meanwhile, a statement by the White House also purported that China tries to hold back international
        investigation and rejected calls for transparency. It urges like-minded partners to exert pressure on China.</p>
    <p>"The Chinese side expresses its firm opposition and strong condemnation to this," the Chinese embassy said in a
        statement.</p>
    <p>The embassy noted that the origins-tracing is a matter of science; it should and can only be left to scientists,
        not intelligence experts.</p>
    <p>There has been no lack of "masterpieces" by the US intelligence community, such as using a tube of laundry powder
        to convict Iraq of possessing weapons of mass destruction, or staging the "white helmets" video as evidence for
        chemical weapon attack
        in Syria, the embassy said in the statement.</p>
    <p>"Now, the US side is using its old trick again. Ignoring the report by the WHO-China joint mission, it chooses to
        have its intelligence community put together a report instead. How can this possibly be science-based and
        reliable origins-tracing?"
        it said.</p>
    <p>The embassy said the assertion of lack of transparency on the part of China is only an excuse for its
        politicizing and stigmatizing campaign, as since the outbreak of COVID-19, China has taken an open, transparent
        and responsible attitude.</p>
    <p>"We have released information, shared the genome sequencing of the virus, and carried out international
        cooperation to fight the disease, all done at the earliest possible time," the embassy noted.</p>
    <p>China is the first to cooperate with the World Health Organization on global origins-tracing, and it has invited
        WHO experts to conduct the investigations twice.</p>
    <p>"We were completely open, transparent and cooperative when the experts were in China. They visited every site on
        their list, met every individual they asked for, and were provided with all the data they wanted," the statement
        said.</p>
    <p>The report by the US intelligence community shows that the US is "bent on going down the wrong path of political
        manipulation".</p>
    <p>By Friday, the US had reported at least 38.1 million confirmed cases&nbsp;of COVID-19, with&nbsp;more than
        628,400&nbsp;deaths, the most infections and death cases from the disease in the world, according to the WHO
        updates.</p>
    <p>The report by the intelligence community is based on presumption of guilt on the part of China, and it is only
        for scapegoating China, the embassy said.</p>
    <p>"Such a practice will only disturb and sabotage international cooperation on origins-tracing and on fighting the
        pandemic, and has been widely opposed by the international community," it added.</p>
    <p>The embassy noted that the Wuhan Institute of Virology has received two visits from WHO experts and the WHO-China
        joint study report has reached the clear conclusion that introduction through a lab accident in Wuhan is
        "extremely unlikely".</p>
    <p>"If the US insists on the lab leak theory, isn't it necessary for the US side to invite WHO experts to Fort
        Detrick and the University of North Carolina for investigation?" the statement said.</p>
    <p>The embassy reiterated that China always supports and will continue to participate in science-based
        origins-tracing.</p>
    <p>"What we are against is political manipulation, presumption of guilt and putting blame on others," it said. "Any
        Phase II origins study must be a comprehensive extension of Phase I and conducted in multiple places and
        countries to find out the
        truth."
    </p>
    <p>The report by the US intelligence community has not produced an exact answer the US side wants. Continuing such
        an effort will also be in vain, because its subject is simply non-existent and anti-science, concluded the
        embassy statement.</p>

</div>
<div id="no2"></div>
</body>

</html>