<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>
<div class="hang1">
        <div class="box">
            <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

        </div>



    </div>

    <div id="no1">
        <p>Vermont boasts few COVID cases</p>
    </div>
    <div class="">

        <div id="Content">


            <p>The New England state of Vermont has some of the lowest numbers of coronavirus cases in the nation and highest vaccination rates due to compliance from its residents, say health officials, but it still faces challenges from the spread of the
                Delta variant.</p>
            <p>Governor Phil Scott, a Republican, announced that as of Aug 18, more than 85.7 percent of Vermont's population aged 12 and over has had at least one dose of a COVID-19 vaccine. That is in sharp contrast to Alabama, Wyoming and Mississippi,
                states with some of the lowest vaccination rates in the country and increasingly high hospitalizations.</p>
            <p>Vermont is one of just three states in the US not deluged by COVID-causing hospitalizations. But it has seen a slight increase in breakthrough COVID-19 cases due to the Delta variant, which poses a threat to residents living in the Green Mountain
                State because at least one in five are elderly -- one of the highest elderly populations in the US.</p>
            <p>"The data shows vaccines are preventing cases. Yes, there are so-called breakthrough cases, but that term is misleading. We always knew vaccines weren't 100 percent effective, but they have minimized cases and severity," Scott said on Aug
                17.
            </p>
            <p>Between Jan 1 and Aug 13, out of 418,230 vaccinated people in Vermont, 630 or 0.15 percent have tested positive for COVID-19. Eighteen of the vaccinated people were hospitalized and eight (0.0002 percent) died. Many of them had chronic conditions,
                Scott said.</p>
            <p>On Aug 25, Vermont health officials reported 120 new COVID-19 infections (there were 27,355 in total). Hospitalizations rose to 35, including nine people now in intensive care. There have been 271 deaths in the state altogether.</p>
            <p>"While cases have ticked up, it's important for Vermonters to remember we're not Florida, Louisiana, Mississippi or any other state with significantly lower vaccination rates and significantly higher hospitalizations than Vermont,'' Scott
                said.
            </p>
            <p>"This is clearly a pandemic of the unvaccinated, with nearly all the hospitalizations and deaths among the unvaccinated at this point."</p>
            <p>Tracy Dolan, deputy commissioner for the state Health Department said that the state had been successful in battling the virus versus other states, because at every stage of the pandemic, residents have been willing to listen to public health
                guidance.
            </p>
            <p>Dolan told China Daily: "Residents have adapted surprisingly well, particularly the elderly."</p>
            <p>Public health officials say there is another reason for the state's success. It is the second least-populated state in America with a population of 623,989 and benefits from wide open spaces to stop the spread of the virus.</p>
            <p>Dolan added: "We are a rural state and that has helped us, the lower density of population, it doesn't do it by itself, but it helps."</p>
            <p>Vermont borders Massachusetts to the south and New York to the west, once the epicenter of the US virus.</p>
            <p>The picturesque state is a tourist magnate and generated $2.8 billion from tourism in 2017 before the pandemic, according to the state's Agency of Commerce and Community Development.</p>
            <p>Prior to the pandemic, it had 13 million tourists per year who took to its hiking trails and mountains to ski, like Mansfield, Killington and Stowe.</p>
            <p>Dolan also said that early on during the pandemic, the way that information about what precautions residents needed to take -- like wearing masks and social distancing -- wasn't politicized as a Democratic or Republican issue like in some
                other states.</p>
            <p>Instead, Vermont's Republican governor worked with and listened to public health officials, which built public trust.</p>
            <p>"One of the really great things is that it doesn't feel politicized in this state," Dolan said.</p>
            <p>"Being that we have a Republican governor that has been seen as maybe a situation where the governor may not be aligned with the public health approach but in this state that's not what it means. So, people really feel like if people making
                decisions, they might not agree with them but they know it's for political reasons and that is down to trust."</p>
            <p>Vermont is still following CDC recommendation that the vaccinated and unvaccinated should wear a mask indoors and in areas of high transmission.</p>
            <p>At the start of the new school year, teachers, students and school staff will have to wear masks for the first two weeks along with children under 12. Masks won't be mandated on school buses.</p>
            <p>While it has done well, Vermont hasn't escaped completely unscathed. Last year, half of Vermont's coronavirus cases occurred in assisted-living facilities. But outbreaks were corrected quickly, the health department said.</p>
            <p>At the height of the pandemic in 2020, its local hospital emergency rooms were hardly used with only one person hospitalized for COVID-19 and one under investigation by doctors.</p>
        </div>

        <div id="no2"></div>




</body>

</html>