<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>
    <div class="hang1">
        <div class="box">
            <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

        </div>



    </div>

    <div id="no1">
        <p>Survey: Nation getting greener over past decade</p>
    </div>
    <div class="">

        <div id="Content">


            <p><strong>Data reveals impressive progress in environmental protection, official says</strong></p>
            <p>The area of forests in China has surged to 284.12 million hectares over the past decade, making the nation a greener one with an improved environment, according to the third national land resources survey released on Thursday.</p>
            <p>The survey, based on data collected before Dec 31, 2019, is conducted every decade by the Ministry of Natural Resources.</p>
            <p>Its results play a significant role in the country's overall policymaking, as it provides basic information covering all types of land.</p>
            <p>The survey showed that China now has 23.46 million hectares of wetland－a type that was included for the first time as a major item in the national land resources survey.</p>
            <p>Compared with the second national survey, the area of farmland witnessed a slight drop from 135.38 million hectares to 127.86 million hectares, according to the ministry.</p>
            <p>"This was mainly the result of structural adjustment in the agriculture industry. Some farmland was used for planting fruit trees or herbs," said Vice-Minister of Natural Resources Wang Guanghua. He also attributed the decline to the country's
                greening project, which encourages the planting of trees.</p>
            <p>But he emphasized that the decline will not affect the country's food security, as China still has agricultural land covering 16.87 million hectares that can be restored or returned to use as farmland.</p>
            <p>The survey's results were based on 295 million map units collected by satellite remote-sensing images.</p>
            <p>"We have adopted new technologies, including cloud computing and drones. The number of map units we have used this time has doubled compared with 2009," said Zhu Liuhua, deputy director of the survey's leading office.</p>
            <p>Zhu added that the map units identified this time are also smaller than in the previous survey, which means that the results were more accurate.</p>
            <p>Wang, the vice-minister, said that the survey revealed China's impressive achievements in environmental protection over the past decade. In addition, the supply of land for construction also met the country's economic development needs.</p>
            <p>But Wang noted some issues found in the survey, including the low utilization rate of land for construction, especially in rural areas.</p>
            <p>The ministry will establish a national territory spatial planning system based on the survey with three "red lines", he said.</p>
            <p>The "red line" for the designation of permanent farmland－a crucial method to safeguard the country's food security－aims to prevent farmland from being destroyed or used for other purposes.</p>
            <p>And the "red line" for urban and rural development planning is expected to limit the expansion of those two areas and guide construction more scientifically.</p>
        </div>
        <div id="no2"></div>




</body>

</html>