<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>
<div class="hang1">
    <div class="box">
        <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

    </div>
    <div class="box">
        <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

    </div>


</div>

<div id="no1">
    <p>
        Headwinds pose threat to growth, development
    </p>
</div>
<div class="">

    <div id="Content">


        <p>As recently as three months ago, the global economy seemed to be on track for a relatively robust recovery.
            The supply of COVID-19 vaccines had expanded in developed countries, raising hopes that it would spill over
            to developing countries
            in the second half of this year and into 2022.</p>
        <p>Many economies were posting impressive growth numbers as pandemic-suppressed sectors reopened. While clogged
            supply chains had produced a host of shortages and high prices for key inputs, these were seen as merely
            transitory problems.</p>
        <p>The world looks very different now. The Delta variant of the virus is spreading rapidly, including in
            developed countries and among those who were hitherto less vulnerable to the virus. The unvaccinated parts
            of the world－mostly lower-middle
            and lower-income countries－are now more vulnerable than ever.</p>
        <p>Moreover, the vaccine supply chain is failing. The principal reason is that developed countries have option
            contracts to buy many more vaccine doses than they need (even after accounting for an expansion of their
            programs to vaccinate younger
            people and administer booster shots).This lengthens the vaccine waiting line, thereby delaying the arrival
            of vaccines in much of the developing world.</p>
        <p>The rich world's "excess orders" need to be released and made available for purchase by other countries. A
            program to fund such purchases would not be very costly in global terms (on the order of $60 billion to $70
            billion), and would yield
            immediate and long-term benefits in controlling the virus and preventing the emergence of dangerous new
            variants.</p>
        <p>Another problem is that global supply chains have been more severely disrupted than previously thought. It is
            now apparent that the resulting shortages－in labor, semiconductors (which are used in countless industries),
            construction materials,
            containers and shipping capacity－are not going away anytime soon. Surveys indicate that the inflationary
            effects are widespread across sectors and countries and are likely to act as a persistent headwind to
            recovery and growth.</p>
        <p>Adding to the uncertainty, there have been pandemic-induced shifts in domestic and global supply chains that
            are not yet well understood and will most likely be difficult to reverse. Indeed, the disruptions coming out
            of the pandemic are broader
            and appear to be exerting a stronger drag on the economy than did the recent trade war between the United
            States and China.</p>
        <p>But the most eye-opening development of the past three months has been the dramatic increase in the
            frequency, severity and global scope of extreme weather: storms, droughts, heat waves, higher average
            temperatures, fires and floods. Earlier
            this month, the Intergovernmental Panel on Climate Change delivered a new report that has been bluntly
            characterized as announcing "code red for humanity". The collective judgment of the scientific community
            suggests that this year's brutal
            experience is not an outlier; it is the new climate normal.</p>
        <p>We therefore can expect more of the same (and probably much worse) for the next 20 to 30 years. The window
            for preventing the kinds of events we have seen this summer is closed. The challenge now is to accelerate
            the pace of reduction of greenhouse-gas
            emissions to avoid even more serious－and potentially life-threatening－climate-driven outcomes in the coming
            decades.</p>
        <p>Given the economic and climatic headwinds confronting the world, and the expectation that they will blow over
            a longer time horizon, future growth and development are in peril. In addition to being an obvious drag on
            growth, today's supply-chain
            disruptions may contribute to inflationary pressures that will demand a monetary-policy response.</p>
        <p>Similarly, a constantly morphing virus that becomes a semipermanent feature of life will retard global growth
            and specialization. International travel will continue to struggle to recover. And while digital platforms
            can serve as partial substitutes,
            the impediments to mobility eventually will hit all the global economic and financial ecosystems that
            support innovation.</p>
        <p>The United Nations climate-change conference, which will be held in Glasgow in November, will be crucial－and
            even more difficult than past climate-change conferences. The objective is to strengthen the national
            decarbonization commitments
            made at the conference in Paris in 2015, so that the global aggregate is consistent with a carbon budget
            that limits global warming to 1.5 C relative to the pre-industrial level.</p>
        <p>Since extreme climate events will occur more frequently and globally－striking almost anywhere－private and
            social insurance systems will need a major upgrade to become multinational in scope. We may need a new
            international financial institution
            to take this on, working closely with the International Monetary Fund and the World Bank.</p>
        <p><em>The author is a Nobel laureate in economics, emeritus professor at Stanford University and senior fellow
            at the Hoover Institution.</em></p>
    </div>
    <div id="no2"></div>


</body>

</html>