<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>
    <div class="hang1">
        <div class="box">
            <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

        </div>



    </div>

    <div id="no1">
        <p>
            London still chased by China property buyers
        </p>
    </div>
    <div class="">

        <div id="Content">

            <p>Chinese property hunters are returning their focus to the international market and switching their search from smaller apartments to larger properties, London-based realtors and developers say.</p>
            <p>Emma Lander, director of international residential at real estate Jones Lang LaSalle Incorporated, known as JLL, said the COVID-19 pandemic has caused a shift in property preferences, with buyers seeking more space for home working and flexible
                use.
            </p>
            <p>"While China is the only major economy that registered positive growth last year, it is slowly starting to see control measures creep into managing what has been a huge demand for its own local residential market," she said. "This means buyers
                are starting to look internationally again.</p>
            <p>"We have seen this shift in buyer trends demonstrated first-hand with a number of projects launched this year that would have traditionally sold out of those smaller homes, have in fact seen two- and three-bed apartments secured first," Lander
                said. "Refreshing perhaps to see the detail and specification of a property come to the fore, as opposed to purely the return on investment."</p>
            <p>Rosa Tsui, head of China at British estate agent Johns &amp; Co, echoed this view.</p>
            <p>"Most renters in London are now seeking additional space to accommodate at-home working and they also want a more spacious environment to facilitate a multitude of uses."</p>
            <p>"We are seeing the knock-on effects of this in China, where investor landlords are seeing the benefit of taking on larger units, as those properties with extra space are commanding significant premiums and attracting quality tenants."</p>
            <p>According to the estate agency Knight Frank, buyers from China represent the largest group of overseas property purchasers in the United Kingdom in the year-to-date.</p>
            <p>Emma Fletcher-Brewer, a partner at Knight Frank, said: "Over recent years, we have seen the investment habits of Chinese buyers in London shift toward buying larger units, in addition to smaller studio or one-bedroom apartments that are traditionally
                popular with this demographic."</p>
            <p>She explained one of the main reasons for this is the tenant profile, adding that "more international students are looking to share an apartment with friends as opposed to living in halls, so larger unit sizes are more appealing.</p>
            <p>"Chinese families are also considering that if two or three children come to study in London, owning one larger apartment is more practical and offers better value for money than investing in multiple studio or one-bedroom apartments across
                the city," she added.</p>
            <p>Among new developments, Battersea Power Station, one of London's most iconic cultural landmarks, is popular among Chinese purchasers.</p>
            <p>Meriam Lock-Necrews, head of residential at Battersea Power Station, said: "We have seen a great deal of interest from buyers in China and, year-on-year, we have seen increasing interest from this particular audience.</p>
            <p>"Chinese buyers are incredibly astute and informed, and know exactly what they are looking for."</p>
            <p>Patrick Parsons, Battersea Power Station's China representative, said: "One of the biggest selling points, particularly to the Chinese audience, is the true mixed-use nature of the project."</p>
            <p>According to the Hurun Chinese Luxury Consumer Survey 2020, Chinese high-net-worth individuals have placed 12.5 percent of their wealth into overseas assets, with London ranked as the most popular investment destination.</p>
            <p>In 2019, Office for National Statistics data showed that buyers from the Chinese mainland and Hong Kong invested 7.69 billion pounds ($10.6 billion) in London property, including more than 750 million pounds in residential property in the
                City of Westminster and the Royal Borough of Kensington and Chelsea.</p>
            <p>Parsons said he is confident that London's position as a global financial powerhouse remains unchanged, as does its standing as a go-to location for education and as a safe haven for overseas investors.</p>
            <p>Parsons agrees with the notion that there has been a shift in preferences among Chinese buyers, in the wake of COVID-19.</p>
            <p>"We have seen Chinese buyers purchase smaller studios and one-bedroom apartments in the first phase of the development as pure investments, and then purchase larger two-or three-bedroom apartments in the second phase for their own use.</p>
            <p>"Rather than being driven by price, we tend to find that Chinese buyers are more driven by product type and what the property offers in terms of space, location and amenities," he added.</p>
        </div>

        <div id="no2"></div>




</body>

</html>