<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index2.css">
    <link rel="shortcut icon" href="../static/images/R-C1.png">
</head>

<body>
    <div class="hang1">
        <div class="box">
            <a href="http://127.0.0.1:8000/" title="返回主页">返回主页</a>
        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new1.html" class="new1">new1</a>


        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new2.html" class="new2">new2</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new3.html" class="new3">new3</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new4.html" class="new4">new4</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new5.html" class="new5">new5</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new6.html" class="new6">new6</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new7.html" class="new7">new7</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new8.html" class="new8">new8</a>

        </div>
        <div class="box">
            <a href="http://127.0.0.1:8000/new9.html" class="new9">new9</a>

        </div>



    </div>

    <div id="no1">
        <p>
            Washington blamed as COVID-19 exporter as deportations stepped up
        </p>
    </div>
    <div class="">

        <div id="Content">


            <p>The United States is exporting the coronavirus as it steps up deportations of undocumented migrants, experts say in highlighting how the country is hampering global efforts against the pandemic. Critics also take aim at the lax exit control
                measures for US citizens traveling abroad during the outbreak.</p>
            <p>The accusations follow the US Department of Homeland Security's resumption of fast-track deportation flights at the end of July for migrants from El Salvador, Guatemala and Honduras. Officials have cited the spread of the Delta variant of
                COVID-19 as a factor in their actions.</p>
            <p>The US Customs and Border Protection agency detained more than 176,000 migrants between July 1 and 28, the highest number since US President Joe Biden took office in January, the CNN network reported, citing preliminary data it had obtained.</p>
            <p>Wei Nanzhi, a research fellow at the Institute of American Studies of the Chinese Academy of Social Sciences, said the "irresponsible" move could exacerbate the spread of COVID-19 in Latin America.</p>
            <p>"It is more apparent than ever that the deportation is placing migrants and Latin America at risk," she said. "It's irresponsible and places unnecessary risks on some of the most vulnerable. It is disrupting the global efforts in containing
                the pandemic."</p>
            <p>The deportations are not a new phenomenon. At the beginning of the pandemic, the US beefed up the pace of expulsions of undocumented immigrants from Mexico and Central American countries. Officials claimed it was a must-do action to curb the
                spread of COVID-19 in the US.</p>
            <p>However, before their repatriation, the asylum-seekers and other migrants were held in cramped border facilities where the virus spreads easily.</p>
            <p>In late April, Guatemala said that nearly a fifth of the country's coronavirus infections were linked to deportees from the US. On one deportation flight, 71 of the 76 returned tested positive for the virus. Similar accounts have also come
                from other countries receiving the expelled migrants.</p>
            <p>"That makes it all the more bitterly ironic that the US, with the largest number of coronavirus cases in the world, is now consciously spreading the pandemic beyond its borders by continuing to deport thousands of immigrants, many infected
                with the coronavirus, to poor countries ill equipped to cope with the disease," an opinion article in The New York Times said in June 2020.</p>
            <p>Earlier this month, a research report, titled "'America Ranked First'?! The Truth about America's Fight against COVID-19", blamed the US for "exporting the virus" and intensifying a worsening in the COVID-19 situation in developing countries.</p>
            <p>The report said the US has been the world's biggest pandemic spreader and had an "inescapable responsibility for the spread of the virus worldwide".</p>
            <p>The US has adopted a hands-off attitude when it comes to its exit control measures.</p>
            <p>According to data released by the National Travel and Tourism Office, 23.195 million US citizens had traveled abroad from April 2020 to March 2021.</p>
            <p>When the US was facing its peak of the pandemic, the number of US citizens traveling abroad also peaked.</p>
            <p>From November 2020 to January 2021, with the average daily number of confirmed cases exceeding 186,000, the corresponding figure for US citizens traveling abroad was 87,000, according to official figures.</p>
            <p><strong>Lax control policies</strong></p>
            <p>The result of the overlap of massive infections and laxity in internal and external control policies is the rapid spreading of the coronavirus to other countries, said Li Wen, a researcher at the Chinese Academy of Social Sciences.</p>
            <p>A study published in May 2020 by Tel Aviv University found that more than 70 percent of coronavirus patients in Israel were infected by a strain that originated in the US. New Zealand media reported that the US had been the second-largest
                source of its imported COVID-19 cases since the start of the outbreak last year to early January this year.</p>
            <p>The US' failure to take effective exit control measures is giving the virus the freedom of movement, Wei said.</p>
            <p>In addition, US military personnel who disobeyed strict anti-pandemic measures had also posed a threat to host communities.</p>
            <p>Last July, dozens of COVID-19 cases were detected at US military bases in Japan's Okinawa Prefecture, with the military later confirming two cluster infections. In May, a large number of US military personnel on leave in South Korea gathered
                at Haeundae Beach in Busan without masks, sparking public anger.</p>
        </div>
        <div id="no2"></div>




</body>

</html>